html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    border: 0;
}

:root{
    --color-primary:#6c63cf;
    --color-sucess:#00bf8e;
    --color-waring:#f7c94b;
    --color-danger:#f75842;
    --color-danger-variant:rgba(247, 88, 66, 0.4);
    --color-white:#ffffff;
    --color-light:rgba(255, 255, 255, 0.7);
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-b2:#424890;

    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition:all 400ms ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background:var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
     padding: 6rem 0;       /*top-button and left-right 6rem=6*16px */    
}

section h2{
    text-align: center;
    margin-bottom: 4rem;  /* 4*16px */
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
} 

h4{
    font-size: 1.3rem;
}


a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    border: 1px solid transparent;
    padding: 1rem 7rem;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background-color: transparent;
    color: var(--color-black);
    background-color: var(--color-white);
}


.btn-primary{
    color: var(--color-white);
    background-color: var(--color-danger);
    border-radius: 4px;
}


/***************************************************************************************** navbar */
nav{
    width:100vw ;
    height: 5rem;
    position: fixed;
    top:0;
    z-index: 11;
    background: transparent;
}

.nav--container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav--menu{
    display: flex;
    align-self: center;
    gap:4rem; /*used to give gap between object  */
}

.nav--menu a{
    font-size: 0.9rem;
    transition:var(--transition) ;
}

.nav--menu a:hover{
    color: var(--color-b2);
}


/* // change the narbar background when scrolling */
.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/***************************************************************************************** header */
header{
    position: relative;
    height: 70vh;
    top: 5rem;
    margin-bottom: 5rem;
    overflow: hidden;
}

.header---container{
    display: grid;
    grid-template-columns: 1fr 1fr;  /* used to seperate the two subsection */
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header---container p{
    margin:1rem 0 2.4rem;
}

/***************************************************************************************** category */
.categories{
    background: var(--color-bg1);
    height: 29rem;
}

.categories h1{ 
line-height: 1;
margin-bottom: 3rem;
}

.categories---container{
display: grid;
grid-template-columns: 40% 60%;
gap: 4rem;
}

.categories--left p{
    margin: 1rem 0 2rem;
}

.categories--right{
display: grid;
grid-template-columns: repeat(3,1fr);
gap:1.2rem;
}

.category{
    background:var(--color-b2) ;
    padding: 2rem;
    border-radius: 4px;
    transition: var(--transition);
}

.category-icon{
    background:var(--color-primary);
    padding: 0.7rem;
    border-radius:0.9rem;
}

.category:nth-child(2) .category-icon{
    background: var(--color-danger)
}
.category:nth-child(3) .category-icon{
    background: var(--color-waring)
}
.category:nth-child(4) .category-icon{
    background: var(--color-sucess)
}
.category:nth-child(5) .category-icon{
    background: var(--color-waring)
}

.category h5{
    padding-top:  0.7rem;
}

.category p{
    font-size: 10px;
}





.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.418);
}

/***************************************************************************************** course */
.courses{
    margin-top: 10rem;
}

.course--container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.course{
background: var(--color-bg1);
text-align: center;
border: 1px solid transparent;
transition: var(--transition);
}

.course:hover{
background: transparent;
border-color: var(--color-primary);

}


.course--info{
    padding: 2rem;
}

.course--info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/* .course--info button {
    padding-left: 2px;
} */

/***************************************************************************************** faq */
.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faq---conatiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap:1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h4{
font-size: 1rem;
line-height: 1.2rem;
}

.faq--icon{
    align-self: flex-start;
     font-size: 1.2rem;
}

.faq p{
    margin-top: 0.8rem;
    display: none;
    font-size: 0.9rem;
}



.open-faq p{
    display: block;
}

/***************************************************************************************** testimonial */
.testimonial--container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimoial{
    padding-top: 2rem;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border:1rem solid var(--color-bg1);
}

.testimonial--info{
    text-align: center;
}
.testimonial--body p{
font-size: 0.9rem;}

.testimonial--body{
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}
.testimonial--body::before {
    content: "";
    display: block;
    background: linear-gradient(135deg, transparent, var(--color-primary), var(--color-primary));
    width: 2rem;
    height: 2rem;
    left: 50%;
    position: absolute;
    top:-1rem;
    transform: rotate(45deg);
}
/***************************************************************************************** footer */

footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer--container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5rem;
}

.footer--container > div h4{
    margin-bottom: 1.2rem;
}

.footer--1 p{
    margin: 0 0 2rem;
}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li:hover{
    text-decoration: underline;
}

.socialmedia{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.copyright{
    margin-top: 4rem;
    text-align: center;
    border-top: 1px solid  var(--color-b2);
    padding: 1.2rem 0;
}



/***************************************************************************************** responsive for tablet */

@media screen and ( max-width: 1024px) {

.container{
    width: var(--container-width-md);
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.7rem;
}

h3{
    font-size: 1.4rem;
}

h4{
    font-size: 1.2rem;
}


/***************************************************************************************** navbar */
nav button{
    background: transparent;
    color: var(--color-white);
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
}

#close-menu-btn{
    display: none;
}

.nav--menu{
    position: fixed;
    top:5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap:0;
    display: none;
}

.nav--menu li{
    width: 100%;
    height: 5.8rem;
    animation: animateaNavItem 400ms linear forwards ;
    transform-origin: top right;
    opacity: 0;
}

.nav--menu li:nth-child(2){
    animation-delay: 200ms;
}
.nav--menu li:nth-child(3){
    animation-delay: 400ms;
}
.nav--menu li:nth-child(4){
    animation-delay: 600ms;
}


@keyframes animateaNavItem {
  0%{
    transform: rotateZ(-90deg)rotateX(90deg)scale(0.1);

  }  
  100%{
    transform: rotateZ(0)rotateX(0deg)scale(1);
    opacity: 1;

  }
}

.nav--menu li a{
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.nav--menu li a:hover{
    background: var(--color-b2);
    color: var(--color-white);
}
/*******************************************************header */

header{
    height: fit-content;
    margin-bottom: 4rem;
}

.header---container{
    gap:0;
    padding-bottom: 3rem;
}

/*******************************************************categories */
.categories{
    height: auto;
}

.categories---container{
    grid-template-columns: 1fr;
    gap:3rem
}
.categories--left{
    margin-right: 0;
}
/*******************************************************categories */
.courses{
    margin-top: 0;
}

.course--container{
    grid-template-columns: 1fr 1fr;
}

/*******************************************************faq */

.faq{
    padding: 1.5rem;
}
.faq---conatiner{
    grid-template-columns: 1fr;
}
/*******************************************************footer */
.footer--container{
    grid-template-columns: 1fr 1fr;
}
}

/*******************************************************responsiveness for mobile phone */

@media screen and (max-width:600px){
.container{
    width: var(--container-width-sm);
}

/*******************************************************navbar */
.nav--menu{
    right: 3%;
}

/* nav button i{
    right: 10%;
} */



/*******************************************************header */

header{
    height: 100vh;
}

.header---container{
    grid-template-columns: 1fr;
    margin-top: 1rem;
    text-align: center;
}

/*******************************************************categories */

.categories--right{
    grid-template-columns: 1fr 1fr;
    gap:0.7rem;
}

.category{
    padding: 1rem;
    border-radius: 1rem;
}

.category-icon{
    margin-top: 4px;
}

/*******************************************************course */
.course--container{
    grid-template-columns: 1fr;
}
/*******************************************************testimonial */
.testimonial--body{
    padding: 1.2rem;
}
/*******************************************************footer */
.footer--container{
    gap: 2rem;
    grid-template-columns: 1fr;
    text-align: center;
}
.footer--1{
    margin: 1rem auto;
}

.socialmedia{
    justify-content: center;
}






}
    







